<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h3>The app Component !!!</h3>
                <hr>
                <!-- <app-servers></app-servers> -->
                <!-- <div app-servers></div> -->
                <!-- <div class="app-servers"></div> -->
        </div>
    </div>
    <!-- <hr> -->
    <!-- <div class="row">
        <div class="col-xs-12">
                <u><h4>Assignment 1</h4></u>
                <app-success-alerts></app-success-alerts>
                <app-warning-alerts></app-warning-alerts>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-xs-12">
            <app-data-binding></app-data-binding>
        </div>
    </div> -->
    <div class="row">
        <div class="col-xs-12">
            <u><h4>Assignment 4</h4></u>
            <app-directive></app-directive>
        </div>
    </div>
</div>

<!-- <span>&#10003;</span> -->
