<!-- <div class="container">
    <app-cockpit
        (serverCreated)="onServerAdded($event)"
        (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onChangeFirst()">Changes</button>
        <app-server-element *ngFor="let serverElement of serverElements"
                            [element]="serverElement" [name]="serverElement.name">
                            <p>
                              <strong *ngIf="serverElement.type === 'server'" style="color: red">{{serverElement.content}}</strong>
                              <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
                            </p>
        </app-server-element>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-game-control (firedInterval)="onfiredInterval($event)"></app-game-control>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber">Odd</app-odd>
        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber">Even</app-even>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-primary" (click)="show=!show">Only Show Odd Numbers</button>
        <br>
        <ul class="list-group">
           <div *ngIf=show>
            <li class="list-group-item" *ngFor="let odd of oddNums">{{odd}}</li>
          </div>
          <!--<div *ngIf=!show>
            <li class="list-group-item" *ngFor="let even of evenNums">{{even}}</li>
          </div> -->
          <div *appUnless="show">
            <li class="list-group-item" *ngFor="let even of evenNums">{{even}}</li>
          </div>
        </ul>
        <p appBasicHighlight>Style me with basic attribute directive</p>
        <p appBetterHighlight highlightColor="red" defaultColor="yellow">Style me with better attribute directive</p>

        <div [ngSwitch]="value">
          <p *ngSwitchCase="5">value is 5</p>
          <p *ngSwitchCase="10">value is 10</p>
          <p *ngSwitchCase="15">value is 15</p>
          <p *ngSwitchDefault>value is default</p>
        </div>
      </div>
    </div>
  </div>
